.btnCreateTaskContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnCreateTask {
    font-size: 16px;
    border: 1px solid rgb(187, 159, 0);
    border-radius: 4px;
    background: rgb(255, 212, 70);
    margin: 15px;
    padding: 10px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

.btnCreateTask:hover {
    background: rgb(247, 175, 51);
}